<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Henrique Schwarz Flask App Template</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <h1>Welcome to Henrique Schwarz Flask Web Application Template</h1>
    <p>This project serves as a template for building web applications with Flask. Below you can find links to login and detailed documentation.</p>
    <a href="/login">Login</a>
    <section id="project-details">
        <h2>Project Details</h2>
        <p>This template is designed to provide a quick start for Flask web development projects. It includes:</p>
        <ul>
            <li>User Authentication</li>
            <li>Database Integration</li>
            <li>API Endpoints</li>
            <li>Front-end Interaction</li>
            <li>Webserver File Storage</li>
            <li>First user "admin" password "admin"</li>
        </ul>
    </section>
    <section id="project-structure">
        <h2>Project Structure</h2>
        <p>The project is structured as follows:</p>
        <pre>
            ./
            database.py
            structure.py
            app.py
            schema.sql
            routes/
                route_login.py
                route_ia.py
                route_users_adm.py
                route_dashboard.py
                route_drive.py
                __init__.py
            database/
                users.db
            uploads/
            static/
                css/
                    dashboard.css
                    drive.css
                    gerenciador_usuarios.css
                    home.css
                    login.css
                images/
                    folder-icon.png
                    file-icon.png
                js/
                    dashboard.js
                    login.js
                    home.js
            drive/
            servicos/
                service_users_adm.py
                service_ia.py
                service_drive.py
                __init__.py
            templates/
                login.html
                editar_usuario.html
                home.html
                inteligencia_artificial.html
                gerenciador_usuarios.html
                dashboard.html
                drive_index.html
                alterar_senha.html
        </pre>
    </section>
    <section id="requirements">
        <h2>Installation Requirements</h2>
        <p>Before running the application, install the required libraries:</p>
        <code>
        Python, pip install database, Flask, flask_socketio, os, sqlite3, bcrypt, routes.
        </code>
    </section>
    <p>For more information on how to use this template and set up your own project, please visit our <a href="https://github.com/henriquefarisco/">GitHub repository</a> or my personal website <a href="https://www.henriquefarisco.com.br/">Henrique Farisco</a></p>
    <script src="/static/js/home.js"></script>
</body>
</html>
